

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pushster&family=Roboto+Slab&family=Shizuru&family=Ubuntu:wght@500&display=swap');

*{margin: 0%;
padding: 0%;}
.container{
    /* background-image: url(laptop.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
   width:100vw;
   height:100vh;
}
.sidebar{
     background-color: rgb(25, 16, 90); 
    width: 20vw;
    height:100vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    
}
.main{
    background:linear-gradient(to right, #00ffff -35%, #cc00ff 80%);
 width: 100vw;
 height: 100vh;

 font-size: 30px;

}
.container{
    display: flex;
}
.sidebar nav{
    padding: 72px;
    
}
.sidebar nav li {
    list-style: none;
    font-size: 50px;
    padding-bottom: 80px;
    
   
}
.sidebar nav li a{
text-decoration: none;
color: white;
}
.infocont{
   
    height: 100vh;
    width: 70vw;
    margin: 4vh 4vh 4vh auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{

    height: 74vh;
    border-radius: 50%;
    box-shadow: 0px 15px 20px rgba(106, 109, 108, 0.925);
}
.devpic img:hover {
     transition: all 0.3s ease 0s; 
    box-shadow: 0px 20px 20px rgba(20, 20, 20, 0.822);
        color: #fff;
        transform: translateY(-7px);
      }

.devinfo{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hello{
    font-size: 90px;
    font-family: 'Pushster', cursive;
}
.Name{
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
  
}
.about{ 
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    
}
.buttons{
margin-top: 30px;
}
.buttons{
     font-size: 20px; 
    padding: 11px;
    border-radius: 15px;
    background-color: #143dee;
    color: white;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.726);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.buttons:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
 .sidebar a:hover{
      color: rgb(10, 10, 10);
  }
  
  